.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    min-width: 100vw;
    height: 105px;
}
a{
    text-decoration: none;
    transition: 0.2s ease;
    color: rgb(7, 7, 7);
}

a:hover {
    background-color: rgb(65, 65, 199);
}

.navbar{
    background-color: beige;
    background-size: cover;
    font-size: large;
    font-weight: bold;
}